/node_modules
/.env
/.env.test
/.env.local
/db-data
/src/generated
/coverage
.DS_STORE
/build
.nvmrc
.npmrc

# Yarn
.yarn/*
.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.DS_Store